<!DOCTYPE html>
<html>
	<head>
		<title> page</title>
		<meta name="viewport" content="width-device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
	</head>
	<body>
		<header id="header" class="">
			<image src="/static/img/templogo5.png"/>
			<nav class="navbar">
				<ul class="navlist">
					<li><a href="/blog">Home</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/blog/latestnews/">News</a></li>
					<li><a href="/blog/archives/">Archive</a></li>
				</ul>
			</nav>		
		</header><!-- /header -->

		<div class="body">
			<aside class="asidediv">
				<div>
					<article>
						<h3>Recent News</h3>

						{% for post in object_list %}
						<p>{{ post.date| date:"Y-m-d"}}<a href="/blog/{{post.id}}">{{post.title}}</a></p>
						{% endfor %}
					</article>
				</div>	
			</aside>

			<div class="maindiv">
				<div class="contentdiv">
{% block content %}
{% endblock %}		
				</div>
			</div>
		</div>

		<footer class="mainfooter">
			<p>@copyright Jyoti</p>
		</footer>
	</body>
</html>					
