<!DOCTYPE html>
<html>
	<head>
		<title> page</title>
		<meta name="viewport" content="width-device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css" type="text/css"/>
	</head>
	<body>
		<header id="header" class="">
			<image src="templogo5.png"/>
			<nav class="navbar">
				<ul class="navlist">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Archive</a></li>
				</ul>
			</nav>		
		</header><!-- /header -->

		<div class="body">
			<aside class="asidediv">
				<div>
					<article>
						<h3>Recent News</h3>
						<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssssssssssssssssssss</p>
					</article>
				</div>	
			</aside>

			<div class="maindiv">
				<div class="contentdiv">
					<article>
						<header>
							<h3><a href="#">Epic post</a></h3>
						</header>
						<footer class="date">
							<p>Poseted on Jan 2010</p>
						</footer>
						<content>
							<p>hello derdd aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
						</content>	
					</article>
				</div>
			</div>

		</div>

		<footer class="mainfooter">
			<p>@copyright Jyoti</p>
		</footer>
	</body>
</html>					
		
